# Created by https://www.gitignore.io/api/laravel

### Laravel ###
vendor/
node_modules/

# Laravel 5 & Lumen specific
bootstrap/cache/
public/storage
.env.*.php
.env.php
.env

#image file
public/images
